.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background:no-repeat center url("/テニスコート.svg");
}

.h1{
  position: fixed;
  top: 40%;
}

.p{
  position:fixed;
  top: 550px;
}
.hiyoko{
  position: fixed;
  top:10px;
}





